:root{
    --body-background-color:#0d0d0d;
    --text-color:#9ca3af;
    --heading-text:#3b82f6;
    --heading-hover:#a855f7;
    --text-color-inwhite:#dfdfdfe8;
    --background-scroll-div:#16161b;
    --booking-summary-hover:#e67e22;
    --shadow-main:rgba(0, 0, 0, 0.6);
    --shadow-secondary:rgba(255, 255, 255, 0.05);
    --item-background:#0f0f13;
    --add-to-cart-btn:#28a745;
    --add-to-cart-btn-hover:#218838;
    --add-to-cart-btn-color:rgba(255, 255, 255, 0.89);
    --image-brightness-main-gradient:rgba(0,0,0,0.2);
    --image-brightness-secon-gradient:rgba(0,0,0,0.4);
    --item-detail-color: #dfdfdfe8;
    --item-price-color: #e67e22; 
    --scrollbar-background-color: #16161b;
    --nav-bg: rgba(255, 255, 255, 0.76); 
    --sidebar-bg: rgba(255, 255, 255, 0.315);
}

*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-background-color);
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 4rem;
}


/* Navigation */
nav{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--nav-bg);
    backdrop-filter: blur(10px);
    box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.616);
    border-radius: 0 0 8px 8px;
    z-index: 1;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    transition: all 0.3s linear;
}

nav a:hover{
    color: var(--item-detail-color);
    background-color: var(--background-scroll-div);
    text-decoration: underline;
    text-underline-offset: 5px;
    border-radius: 0 0 8px 8px;
}

.brandName{
    margin-right: auto;
    pointer-events: none;

    @media (max-width:800px) {
        margin: 0;
        align-self: flex-end;
    }
}

nav li img{
    height: 16px;
    width: 16px;
}

.sidebar{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    width: 250px;
    z-index: 999;
    background-color: var(--sidebar-bg);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px 0 rgba(0, 0, 0, 0.329);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar li,
.sidebar a{
    width: 100%;
}

.showsidebar{
    display: none;
    margin-left: calc(20%);
}

@media (max-width:860px) {
    .hideOnMobile{
        display: none;
    }

    .showsidebar{
        display: block;
    }
}

@media (max-width:400px) {
    .sidebar{
        width: 100%;
    }
}

section{
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 30px;
}

/* header */
.header-title{
    margin:0 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.camping-gear-title{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(90deg, #3b82f6, #a855f7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 1rem;
    text-align: center;

    @media (max-width:300px) {
        font-size: 2rem;
    }

    @media (max-width:200px) {
        font-size:1.3rem;
    }
}

.camping-gear-subtitle{
    color:var(--text-color);
    font-size: 1.4rem;
    margin-top: 0.3rem;
    letter-spacing: 0.5px;
    margin: 0 1rem;
    text-align: center;

    @media (max-width:200px) {
        font-size:1rem;
    }
}

.item-header{
    color: var(--heading-text);
    text-align: center;
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
}

/* Note */
.summary-note{
    background-color: rgba(31, 32, 41, 0.671);
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    color: var(--text-color);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: 0.4px solid var(--text-color);
    margin: 0 1rem;
    margin-top: 1rem;
    box-shadow: 0 4px 12px var(--shadow-main), 
                0 1px 2px var(--shadow-secondary);

    @media (max-width: 400px) {
        visibility: hidden;
    }
}

.summary-note a{
    color: var(--text-color);
}

.summary-note a:hover{
    color: var(--booking-summary-hover);
}

/* form */
form{
    width: calc(100% - 5rem);
    height: auto;
    padding: 1rem;
    margin: 1rem;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width:700px) {
        grid-template-columns: 1fr;
    }

    @media (max-width:450px) {
        margin: 0.2rem;
        margin-top: 1rem;
        padding: 0;
        width: 100%;
    }
}

/* container items */
.container-items{
    display: grid;
    padding: 0.5rem;
    height: 19rem;
    border-radius: 0.5rem;
    background-color: var(--background-scroll-div);
    box-shadow: 0 4px 12px var(--shadow-main), 
                0 1px 2px var(--shadow-secondary); 
}

.container-items h3{
    color: var(--text-color-inwhite);
    text-align: center;
}

/* scroll box */
.scroll-box{
    display: grid;
    grid-auto-flow: column;
    gap: 1.4rem;
    overflow-x: auto;
    padding: 0 1rem 1rem;
    margin-bottom: -0.5rem;
    scroll-snap-type: x mandatory;
}

/* imag and text box */
.item-box{
    display: grid;
    height: 14rem;
    width: 9rem;
    border-radius: 0.5rem;
    background-color: var(--item-background);
    box-shadow: 0 4px 10px rgba(0,0,0,0.25), 
                0 1px 3px rgba(0,0,0,0.15);
    scroll-snap-align: start; /* to snap allign items at start */
}

/* image div */
.img-div{
    position: relative;
    height: 6rem;
    width: 9rem;
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
}

/* To controll brightness of images */
.img-div::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, var(--image-brightness-main-gradient), var(--image-brightness-secon-gradient));
    pointer-events: none;
}

/* for all images */
.img-div img{
    object-fit: cover;
    object-position: center;
    width: 9rem;
    height: 6rem;
}

/* shelter & Sleeping images */
#shelter .item-box:nth-child(5) .img-div img,
#shelter .item-box:nth-child(7) .img-div img,
#shelter .item-box:nth-child(4) .img-div img,
#shelter .item-box:nth-child(8) .img-div img,
#shelter .item-box:nth-child(9) .img-div img
{
    object-fit: contain;
    background-color: white;
}

/* to rotate  sleeping bag image */
#shelter .item-box:nth-child(6) .img-div img{
    object-fit: contain;
    transform: rotate(35deg);
}

#shelter .item-box:nth-child(6) .img-div{
    background-color: white;
}

/* Cooking & Food items images */
#cooking .item-box .img-div img
{
    object-fit: contain;
    background-color: white;
}

#cooking .item-box:nth-child(5) .img-div img{
    object-position: 1.1rem 0;
}

/* Lighting & Safety images */
#lighting .item-box .img-div img
{
    object-fit: contain;
    background-color: white;
}

/* Hiking & Essentials images */
#hiking .item-box .img-div img
{
    object-fit: contain;
    background-color: white;
}

/* Comfort & Extras images */
#extras .item-box .img-div img
{
    object-fit: contain;
    background-color: white;
}

#extras .item-box:first-child .img-div img{
    object-fit: cover;
}

#extras .item-box:nth-child(7) .img-div img{
    object-fit: cover;
    object-position: 0 -2.1rem;
}

/* text div */
.text-div{
    position: relative;
    height: 6rem;
    width: 9rem;
}

/* for product dietails */
.text-div p{
    font-size: 0.84rem;
    text-align: center;
    margin: 0.2rem;
    color: var(--item-detail-color);
}

/* for money details */
.text-div p:last-child{
    position: absolute;
    bottom: 0.2rem;
    width: 100%;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
    color: var(--item-price-color);
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 0.5rem;             
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);   
}

::-webkit-scrollbar-thumb {
  background-color: #3b82f6; 
  border-radius: 0.375rem;
  border: 2px solid var(--scrollbar-background-color); 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #474757; 
}

/* For Firefox */
html {
  scrollbar-width: thick;
  scrollbar-color: #6e6e8b var(--scrollbar-background-color);
}

/* input number type */
input[type=number]{
    width: 8rem;
    font-size: 1rem;
    justify-self: center;
    background-color: var(--background-scroll-div);
    color: var(--text-color);
    box-sizing: border-box;
    border: none;
    border-radius: 0.3rem;
    padding: 0.1rem 0.5rem;
}

/* add to cart btn */
.add-to-cart-btn{
    border: none;
    font-size: 1rem;
    height: 1.5rem;
    width: 6rem;
    margin-top: 0.4rem;
    justify-self: center;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: var(--add-to-cart-btn-color);
    background-color: var(--add-to-cart-btn);
    cursor: pointer;
}

.add-to-cart-btn:hover{
    background-color: var(--add-to-cart-btn-hover);
}

.add-to-cart-btn:active{
    background-color: var(--add-to-cart-btn);
}

/* booking and summary div */
#booking-summary{
    width: calc(100% - 6rem) ;
    min-height: 15rem;
    background-color: var(--background-scroll-div);
    border-radius: 0.5rem;
    margin-top: 2rem;
    box-shadow: 0 4px 12px var(--shadow-main), 
                0 1px 2px var(--shadow-secondary); 

    @media (max-width:600px) {
        width: calc(100% - 2rem);
    }

    @media (max-width:400px) {
        width: 100%;
    }
}

/* booking and summary Label */
.booking-summary{
    position: relative;
    font-size: 1.8rem;
    font-weight: 500;
    top: 1.8rem;
    text-align: center;
    color: var(--booking-summary-hover);
}

