:root{
    --body-background:#0d0d0d;
    --text-color:#9ca3af;
    --heading-text:#3b82f6;
    --heading-info:#a855f7;
    --background-title:#16161b;
}

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--body-background);
    padding-bottom: 5rem;
}

.main-title{
    width: 100%;
    height: 9rem;
    background-color: var(--background-title);
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}

h1{
    color: var(--heading-text);
    font-size: 2.2rem;
    margin: 0 1rem;
}

.container{
    width: 85%;
}

.heading{
    color: var(--heading-text);
    margin: 1rem 2rem;
}

.information{
    color: var(--text-color);
    margin: 1rem 2rem;
}

ul{
    color: var(--text-color);
    margin: 1rem 4rem;
}